name: dino_wm
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.9

  # --- PyTorch (CONDA, works with CUDA 12.2 base image) ---
  - pytorch=2.3.0
  - torchvision=0.18.0
  - pytorch-cuda=12.1  # compatible with CUDA 12.2 container

  # --- Core scientific stack ---
  - numpy
  - pillow
  - matplotlib
  - imageio
  - tqdm
  - psutil
  - ffmpeg
  - pip

  - pip:
      # Core training
      - accelerate
      - einops
      - submitit


      # Config system
      - hydra-core
      - omegaconf

      # Logging
      - wandb

      # Planning
      - gym==0.23.1
      - submitit
      - imageio-ffmpeg

      # Vectorized env
      - cloudpickle

      # Dataset loaders
      - decord
      - pyyaml

      # PushT environment
      - pygame
      - pymunk
      - shapely
      - opencv-python
      - scikit-image


